@import './fonts.scss';
@import './helpers.scss';

// color
$c-primary: #023047;
$c-secondary: #fb8500;
$c-error: #d62828;
$c-warning: #ffbe0b;
$c-success: #55a630;
$c-text: #111111;
$c-text-secondary: #333333;

html,
body {
  padding: 0;
  margin: 0;
  font-family: SFProText;
}
